<div class="block-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11777963.263106445!2d98.09265012325821!3d15.420936532242195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7bef81bc1f17%3A0x5deb7ae8ef86b5bc!2zVMOyYSBOaMOgIFRow6BuaCDEkOG6oXQ!5e0!3m2!1svi!2s!4v1568883148912!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>