<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
        <p class="left_text">© 2019 <a href="https://ttplogistics.vn" target="_blank">T.T.P LOGISTICS</a> | All rights reserved</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
        <p class="right_text">Designed and developed by <a href="http://pne.vn/" target="_blank"> <b>P&E TECHNOLOGY SOLUTION JSC</b> </a></p>
    </div>
</div>