<div class="main-heading left_text">
    <h2>Contact us</h2>
</div>
<ul class="footer-menu contact-us">
    <li><i class="fa fa-map-marker"></i><p> Room 5, 7th floor, Thanh Dat Building, No.3 Le Thanh Tong str, Ngo Quyen dist, Hai Phong city, Vietnam</p></li>
    <li><i class="fa fa-phone"></i> <a href="tel:+84 225 3652256">(+84)2253 652 256</a></li>
    <li><i class="fa fa-envelope"></i> <a href="mailto:info@ttplogistics.vn">info@ttplogistics.vn</a></li>
</ul>
<ul class="social_icons">
    <li class="social-icon fb"><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
    <li class="social-icon tw"><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
    <li class="social-icon gp"><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
    <li class="social-icon zl"><a href="#"><img alt="Zalo" src="/ckfinder/userfiles/images/ttplogistics/z.png"></a></li>
</ul>