<div class="main-heading left_text">
    <h2>Industry Solutions</h2>
</div>
<ul class="footer-menu">

    <li><a class="service-scroll" href="#service--1"><i class="fa fa-angle-right"></i> Ocean freight</a></li>
    <li><a class="service-scroll" href="#service--2"><i class="fa fa-angle-right"></i> Air freight</a></li>
    <li><a class="service-scroll" href="#service--3"><i class="fa fa-angle-right"></i> Freight management software</a></li>
    <li><a class="service-scroll" href="#service--4"><i class="fa fa-angle-right"></i> Container services</a></li>
    <li><a class="service-scroll" href="#service--5"><i class="fa fa-angle-right"></i> Warehousing</a></li>
    <li><a class="service-scroll" href="#service--6"><i class="fa fa-angle-right"></i> End to end solutions</a></li>
    <li><a class="service-scroll" href="#service--7"><i class="fa fa-angle-right"></i> Customs clearance</a></li>
    <li><a class="service-scroll" href="#service--8"><i class="fa fa-angle-right"></i> Multi-Transport</a></li>
</ul>
