<div class="main-heading left_text">
    <h2>Quick links</h2>
</div>
<ul class="footer-menu">
    <li><a href="about.html"><i class="fa fa-angle-right"></i> About Us</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i> Company history</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i> Company events</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i> Supply chain management</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i> Warehousing</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i> Company news</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i> Online driver application</a></li>
</ul>