<div id="main-banner" class="owl-carousel">
    <div class="main-banner-section style_2">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12 right-side verticle-center wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.5s">
                    <div class="banner-img">
                        <img alt="#" src="/ckfinder/userfiles/images/ttplogistics/banner_img2_h2.png">
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12 left-side verticle-center wow fadeInLeft hidden-xs" data-wow-delay="" data-wow-duration="1.5s">
                    <div class="banner-text">
                        <h2 class="slider-text">Ubesize your<br>logistics</h2>
                        <p class="slider-text-small">Moving your products is our business</p>
                        <a class="btn border_botton" href="about-us">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner-section_2 style_2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 right-side verticle-center wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.5s">
                    <div class="banner-img">
                        <img alt="#" src="/ckfinder/userfiles/images/ttplogistics/18907.png">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 left-side verticle-center wow fadeInLeft hidden-xs" data-wow-delay="" data-wow-duration="1.5s">
                    <div class="banner-text">
                        <h2 class="slider-text">Your strategic software development provider</h2>
                        <p class="slider-text-small">Technologies we are passionate about</p>
                        <a class="btn border_botton" href="about-us">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
