<div class="news-blog">
    <div class="full post">
        <div class="row">
            <div class="col-md-4">
                <div class="post-date">
                    <div class="date">[created_1]</div>
                    <div class="month">[created]</div>
                </div>
            </div>
            <div class="col-md-8">
                <h4>[title]</h4>
                <p>[body]</p>
                <div class="simple-read_more"><a class="read-post button_custom_color" href="[path]">READ MORE</a></div>
            </div>
        </div>
    </div>
</div>