.service-center:hover h3 a {
    color: white;
}
.flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.date {
    margin-bottom: 0;
    background: #F8F8F8;
    color: #020202;
    font-size: 24pt;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.month {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #0054A5;
    color: white;
    font-weight: 600;
}
.item {
    min-height: 150px;
}
.inner_page_banner {
    background-image: url(/ckfinder/userfiles/images/ttplogistics/inner-page_banner.png);
}
h1 {
    font-size: 30px;
    color: #000;
    line-height: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    position: relative;
}
.inner_page_inform h1 {
    color: #fff;
    font-weight: 700;
}
.breadcrumb a, .breadcrumb {
    color: white;
}
.breadcrumb {
    background-color: unset;
    margin: 10px 0 0 0;
    font-weight: 500;
    padding: unset;
}
.footer-bottom a {
    color: #d0d0d4;
}
.footer-bottom a:hover {
    color: white;
    font-weight: 500;
}
.date-v1 span{
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    line-height: normal;
    margin-left: 8px;
}
.owl-nav {
    font-size: 40px;
    position: absolute;
    display: flex;
    top: 45%;
    width: 100%;
    z-index: 99;
}
.owl-nav button {
    width: 50px;
    height: 64px;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    color: white !important;
}
.owl-nav button i{
    color: white !important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    color: #e06c6c !important;
}
button.owl-prev {
    left: 0.5%;
    position: absolute;
    box-shadow: rgba(58,78,95,0.2) 4px 4px 6px 0px;
}
button.owl-next {
    right: 0.5%;
    position: absolute;
    box-shadow: rgba(58,78,95,0.2) -4px 4px 6px 0px;
}
h2.slider-text {
    font-size: 45pt;
}
.layout_2_padding {
    padding: 50px 0 40px;
}
footer {
    padding: 60px 0 40px;
}
.main-heading {
    margin-bottom: 25px;
}
