.social_icons li.zl a {
    background: #0080c7;
}
.social-icon.zl img {
    height: 25px;
    margin-top: -6px;
    filter: invert(1);
}
.service-center {
    text-align: center;
    padding: 0 20px;
}
.service-center .icons{
    min-height: 120px;
}
.services .service-des{
    max-height: 45px;
    overflow: hidden;
    transition: ease all 0.5s;
}
.services:after {
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    color: #ccc;
    transition: ease all 0.7s;
}
.services:hover:after, .services:focus:after {
    bottom: -15px;
    opacity: 0;
}
.services:hover .service-des, .services:focus .service-des {
    max-height: 300px;
    margin-top: 10px;
}
.services:hover p,.services:focus p,.services:hover li,.services:focus li{
    color: #cecece;
}
.service-des ul li {
    display: flex;
    align-items: center;
}
.service-des li:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #024a94;
    margin-right: 5px;
}
.services:hover .service-des li:before{
    background-color: #f1c40f;
}
.services:hover, .services:focus{
    top: 0;
}
.block-map {
    height: 500px;
}
.block-map iframe {
    width: 100%;
    height: 100%;
}
.main-banner-section_2 {
    background-color: #003D7A;
    padding-top: 60px;
    height: unset !important;
}
.contact-us li {
    display: flex;
    padding: 0;
}
.contact-us li i {
    padding-top: 7px;
    padding-right: 10px;
    width: 20px;
}
.contact-us li p {
    margin-top: 5px;
}
.footer-menu li a i{
    top: 6px;
}