<div class="layout_2_padding offer_layout2">
    <div class="container wow fadeIn" data-wow-duration="1.5s">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="main-heading left_text">
                    <h2>What we offer</h2>
                </div>
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Ground transportation</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Ocean freight</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Air freight</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Consulting services</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Contract Logistics</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>End-to-end solutions</span></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="main-heading left_text">
                    <h2>Download our brochure</h2>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <img class="img-responsive" src="/ckfinder/userfiles/images/ttplogistics/tracking_post_2.png" alt="Tracking post" />
                    </div>
                </div>
                <div class="col-md-8">
                    <p>Learn more about us. Download our annual brochure 2015 (available in English and German).</p>
                    <div class="simple-read_more"><a class="read-post button_custom_color" href="#">DOWNLOAD</a></div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="main-heading left_text">
                    <h2>Out location</h2>
                </div>
                <div class="map-img left_text">
                    <img src="/ckfinder/userfiles/images/ttplogistics/map_icon.png" alt="map icon" />
                </div>
                <p>Trucking Co. covers over 150 locations all over the globe plus numerous logistic partner companies from different areas of supply chain.</p>
                <div class="simple-read_more"><a class="read-post button_custom_color" href="#">VIEW ALL LOCATION</a></div>
            </div>
        </div>
    </div>
</div>