<div class="col-md-12 col-xs-12">
    <div class="new_blog">
        <div class="col-md-4 col-xs-12">

        </div>
        <div class="col-md-8 col-md-12">
            <div class="new_blog_contant">
                <h3 class="black_big">[title]</h3>
                <div class="date-v1"><i class="fa fa-calendar" aria-hidden="true"></i><span> [created]</span></div>
                [body]
                <p><a class="read-post button_custom_color" href="[path]">Read more</a></p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-xs-12 br_single_blog_2">
    <hr>
</div>