<div class="row">
            <div class="col-md-6 col-xs-12 padding-bottom">
                <div class="small_heading main-heading left_text">
                    <h2>Company profile</h2>
                </div>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                    I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend,
                    so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                    the present moment; and yet I feel that I never was a greater artist than now.<br><br>I throw myself down among the tall grass by the trickling
                    stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks,
                    and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his
                    own image, and the breath.
                </p>
            </div>
            <div class="col-md-6 col-xs-12 padding-bottom">
                <div class="center">
                    <img src="/ckfinder/userfiles/images/ttplogistics/process-img_midium.png" alt="About Us" />
                </div>
            </div>
            <div class="col-md-12 col-xs-12 padding-bottom">
                <div class="small_heading main-heading left_text">
                    <h2>Our mission</h2>
                </div>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                    I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend,
                    so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment;
                    and yet I feel that I never was a greater artist than now.
                </p>
            </div>
            <div class="col-md-12 col-xs-12 padding-bottom">
                <div class="small_heading main-heading left_text">
                    <h2>Our promise</h2>
                </div>
                <ul class="list_style_2" style="color:#000;line-height:30px;">
                    <li><i class="fa fa-caret-right custom"></i> Providing high quality transportation services to all of our clients</li>
                    <li><i class="fa fa-caret-right custom"></i> Invest in our employees to provide better service and company growth</li>
                    <li><i class="fa fa-caret-right custom"></i> Worry about enviroment according to latest industry standard</li>
                    <li><i class="fa fa-caret-right custom"></i> Safety as top priority in assuring safe work procedures</li>
                    <li><i class="fa fa-caret-right custom"></i> Investing in technology to provide fast, acurate and cost-effective service</li>
                    <li><i class="fa fa-caret-right custom"></i> Living up to highest industry standardspromise</li>
                </ul>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="small_heading main-heading left_text">
                    <h2>Board of directors</h2>
                </div>
                <div class="team_section team_full">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="center">
                                <img src="/ckfinder/userfiles/images/ttplogistics/team-icon_1.png" alt="About Us" />
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <h4>MARTHA PARKER</h4>
                            <p class="italic">Company founder</p>
                            <p style="margin-top:10px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="center">
                                <img src="/ckfinder/userfiles/images/ttplogistics/team-icon_2.png" alt="About Us" />
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <h4>JONATHAN BLUM</h4>
                            <p class="italic">Chief Technical Officer</p>
                            <p style="margin-top:10px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="center">
                                <img src="/ckfinder/userfiles/images/ttplogistics/team-icon_3.png" alt="About Us" />
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <h4>TOM BECK</h4>
                            <p class="italic">Chief Operations Officer</p>
                            <p style="margin-top:10px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
