<div class="blog blog_two">
    <h4>BROCHURE DOWNLOAD</h4>
    <div class="feature_img">
        <img class="img-responsive" src="/ckfinder/userfiles/images/ttplogistics/post_big.jpg" alt="brochure dowload" />
    </div>
    <p>Learn more about us. Download our annual brochure 2015 (available in English and German).</p>
    <div class="simple-read_more"><a class="read-post button_custom_color" href="#">DOWNLOAD</a></div>
</div>