<a href="[path]">
    <div class="services">
        <div class="service-center">
            <div class="icons center_text">
                [field_image]
            </div>
            <h3>[title]</h3>
        </div>
    </div>
</a>
