/*------------------------------------------------------------------
    File Name: style.css
    Template Name: Flat.logistic - Responsive HTML5 Template
    Created By: WordPressShowcase
    Envato Profile: https://themeforest.net/user/WordPressShowcase
    Website: https://showwp.com
    Version: 1.0
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    [Table of contents]

    1. IMPORT FONTS
    2. IMPORT FILES
	3. SKELETON
    4. HEADER
	5. SLIDER ANIMATION
	6. SECTIONS
	7. INNER_PAGE BANNER
	8. SIDEBAR
	9. FOOTER
   
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    1. IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');
/*------------------------------------------------------------------
    2. IMPORT FILES
-------------------------------------------------------------------*/

@import url(animate.css);
@import url(font-awesome.min.css);

/*------------------------------------------------------------------
    3. SKELETON
-------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}
html,
body {
    color: #898989;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    font-weight: 400;
    overflow-x: hidden !important;
}
body.demos .section {
    background: url(images/bg.png) repeat top center #f2f3f5;
}
body.demos .section-title img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
}
body.demos .service-widget h3 {
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    padding: 20px 0;
    background-color: #ffffff;
}
body.demos .service-widget {
    margin: 0 0 30px;
    padding: 30px;
    background-color: #fff
}
body.demos .container-fluid {
    max-width: 1080px
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #1f1f1f;
    margin: 0
}
h1 {
    font-size: 24px
}
.small_heading.main-heading h2 {
    font-size: 21px;
}
.small_heading.main-heading::after {
    top: 18px;
}
.small_heading.main-heading {
    margin-bottom: 20px;
    width: 100%;
}
h3 {
    font-size: 18px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 13px
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}
a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}
a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-custom {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}
a.btn {
    min-width: 170px;
    height: 40px;
    border-radius: 100px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}
button.btn {
    min-width: 170px;
    height: 40px;
    border-radius: 100px;
    padding: 0;
    text-align: center;
    line-height: 42px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}
.padding-bottom_0 {
    padding-bottom: 0 !important;
}
.padding-bottom_1 {
    padding-bottom: 10px !important;
}
.padding-bottom_2 {
    padding-bottom: 20px !important;
}
.padding-bottom_3 {
    padding-bottom: 30px !important;
}
.padding-bottom_4 {
    padding-bottom: 40px !important;
}
.padding-bottom_5 {
    padding-bottom: 50px !important;
}
.color_black p,
.color_black ul,
.color_black ul li {
    color: #000;
}
button i {
    color: #fff;
}
button i.fa-search {
    color: #f1c40f;
}
.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}
blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}
.light_silver {
    background: #f2f1f1;
}
h2 {
    font-size: 30px;
    color: #000;
    line-height: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    position: relative;
}
h3 {
    font-size: 24px;
    color: #000;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    font-size: 18px;
    color: #000;
    line-height: 21px;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 15px;
}
h5 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: normal;
    color: #000;
}
p {
    color: #898989;
    font-size: 14px;
    line-height: 21px;
}
button,
input,
select,
textarea,
option {
    font-family: 'Poppins', sans-serif;
}
a#submit {
    z-index: 1;
}
a:hover,
a:focus {
    color: #2a3a4b;
    text-decoration: none;
}
i {
    color: #f1c40f;
}
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10 {
    padding: 0 15px;
    float: left;
    min-height: 25px;
}
.border_radius_0 {
    border-radius: 0 !important;
}
.span1 {
    width: 10%;
}
.span2 {
    width: 20%;
}
.span3 {
    width: 30%;
}
.span4 {
    width: 40%;
}
.span5 {
    width: 50%;
}
.span6 {
    width: 60%;
}
.span7 {
    width: 70%;
}
.span8 {
    width: 80%;
}
.span9 {
    width: 90%;
}
.span10 {
    width: 100%;
}
.section_padding {
    padding: 80px 0 100px;
}
.layout_2_padding {
    padding: 100px 0 80px;
}
/*------------------------------------------------------------------
    4. HEADER
-------------------------------------------------------------------*/

.header_style_1 .header_top {
    margin: 30px 0;
}
.header_bottom {
    float: left;
    width: 100%;
    border-top: solid #e1e1e1 1px;
    padding: 10px 0;
}
/*== country dropdown ==*/

.country_select .btn.dropdown-toggle.btn-default {
    margin: 0;
    border-radius: 0;
    height: auto;
    line-height: normal;
    background: transparent;
    border: none;
    box-shadow: none;
    width: auto;
    min-width: auto;
    outline: none !important;
    color: #898989;
    text-transform: none;
    font-weight: 500;
    padding-right: 20px;
}
.country_select .form-control {
    box-shadow: none;
    float: left;
    width: auto;
}
.country_select .btn-group.bootstrap-select.show-tick.form-control {
    float: left;
    display: inline;
    width: auto;
}
div.country_select .dropdown-menu {
    padding: 0;
    margin: 0;
}
div.country_select .dropdown-menu li a {
    padding: 6px 15px;
    margin-top: 0;
    border-bottom: solid #ddd 1px;
    font-size: 13px;
    position: relative;
}
div.country_select .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    right: 14px;
    font-size: 12px;
    top: 4px;
    font-weight: 400;
}
.header-info {
    float: left;
    width: 100%;
    margin: 9px 0;
    padding-right: 60px;
}
span.information-top a {
    color: #898989;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
ul.list-unstyled li.init + i {
    float: left;
    margin: 0;
}
.information-top {
    float: left;
    margin-left: 30px;
}
.information-top i {
    font-size: 17px;
    float: left;
    float: left;
    margin-right: 7px;
    position: relative;
    top: 1px;
}
ul.list-unstyled li.init + i {
    float: left;
    margin: 0;
    top: 3px;
}
.margin_0 {
    margin: 0 !important;
}
/*== search bar ==*/

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: -14px 0 25px -18px #000;
    border-radius: 25px;
    border: 2px solid #f1c40f;
    margin: 0;
    position: relative;
}
.search-form .form-group input.form-control {
    padding-right: 0;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group:focus {
    width: 250px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 6px;
}
.search-bar button {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    top: -2px;
    right: -2px;
    z-index: 2;
    display: block;
    text-align: center;
    border: none;
    z-index: 1;
    background: #f1c40f;
}
.search-bar button i {
    color: #fff !important;
}
.search-bar .form-control {
    height: 40px;
    color: #898989;
}
.search-bar {
    float: right;
    position: absolute;
    right: 17px;
    top: 0;
    z-index: 1;
}
.search-bar form {
    float: left;
    width: 100%;
}
button.button_custom i {
    color: #fff;
}
/*== header style_2 ==*/

.header_style_2 {
    position: absolute;
    z-index: 3;
    width: 100%;
}
.inner_header {
    float: left;
    width: 100%;
    min-height: 100px;
    background: #fff;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 4px 4px 45px -25px rgba(0, 0, 0, 1);
}
.header_style_2 .logo {
    float: left;
    padding: 30px 24px;
}
.menu-style_2 {
    float: right;
    margin: 29px 6px 29px 0;
    width: 68%;
}
/*== search bar end ==*/

.get_a_quote {
    float: right;
}
/*------------------------------------------------------------------
    5. SLIDER ANIMATION
-------------------------------------------------------------------*/

#main-banner {
    min-height: 800px;
    position: relative;
    background: #f1c40f;
}
#home_page1 .main-banner-section {
    background: #409b8d;
}
/*.main-banner-section.style_2 {*/
/*    height: 100vh;*/
/*}*/
.left-side {
    float: left !important;
}
.right-side {
    float: right !important;
}
.banner-img {
    float: right;
}
h2.slider-text {
    font-size: 72px;
    color: #fff;
    text-transform: uppercase;
    line-height: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
p.slider-text-small {
    font-size: 28px;
    color: #80ffff;
    font-family: 'Raleway', sans-serif;
    display: flex;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0 15px 0;
}
.center_text {
    text-align: center;
}
.left_text {
    text-align: left;
}
#main-banner .btn.border_botton {
    border: solid #fff 1px;
    color: #fff;
}
#main-banner .btn.border_botton:hover,
#main-banner .btn.border_botton:focus {
    background: #fff;
    color: #000;
}
.verticle-center {
    align-items: center;
    display: flex;
}
#main-banner .verticle-center {
    min-height: 800px;
    height: 100vh;
}
.main_menu {
    position: relative;
    z-index: 9;
    float: left;
    width: 100%;
}
.italic {
    font-style: italic;
}
.team_layout h4 {
    margin-bottom: 0;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
/*== loader ==*/

.bg_load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99;
    text-align: center;
}
.bg_load img {
    width: 320px;
}
.bg_load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fafafa;
    z-index: 99;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bg_load .verticle-center {
    width: 100%;
    justify-content: center;
    height: 100%;
}
/*== loader end ==*/
/*------------------------------------------------------------------
    6. SECTIONS
-------------------------------------------------------------------*/

.feature-heading p {
    padding: 0 18px;
    word-wrap: inherit;
    font-size: 14px;
}
.home_page_style_1 .feature-heading p {
    word-wrap: inherit;
    font-size: 14px;
    padding: 0 20px;
}
.main-heading {
    position: relative;
    min-height: 50px;
    margin-bottom: 40px;
}
.main-heading::after {
    width: 30px;
    height: 4px;
    background: #f1c40f;
    content: "";
    margin: 0 auto;
    display: block;
    position: relative;
    top: 26px;
}
.main-heading p {
    color: #898989;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -14px;
}
.light-silver {
    background: #f6f6f6;
}
.light-box .light-silver {
    min-height: auto;
    padding: 35px 50px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.offer_layout2 ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.offer_layout2 ul li {
    float: left;
    width: 100%;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    padding-left: 25px;
    position: relative;
}
.offer_layout2 ul li i {
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 7px;
    font-size: 17px;
}
.offer_layout2 p {
    margin-bottom: 10px;
}
.dark-section {
    background-color: #2b3741;
}
.dark-section h2 {
    color: #fff;
}
.main-heading.left_text::after {
    margin: 0;
}
.dark-section p {
    color: #fff;
}
.icon-one-list {
    width: 100%;
}
.icon-one-list ul {
    list-style: none;
    margin: 15px 0 0;
    float: left;
    padding: 0;
}
.icon-one-list ul li {
    font-size: 18px;
    color: #fff;
    float: left;
    width: 100%;
    margin: 13px 0;
}
.icon-one-list ul li span {
    font-weight: 500;
    min-width: 100px;
    float: left;
    text-align: center;
    display: flex;
    min-height: 50px;
    line-height: 50px;
    justify-content: center;
    align-items: center;
}
.date span {
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    line-height: normal;
    margin-left: 8px;
}
.date {
    margin-bottom: 10px;
}
.read-post {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: #f1c40f;
}
.full.post {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.m-testimonial.light-silver {
    min-height: auto;
    padding: 25px 24px;
}
.m-testimonial a.carousel-control {
    display: none;
}
.m-testimonial .carousel-indicators {
    bottom: -65px;
    margin-bottom: 0;
}
.m-testimonial .carousel-indicators li {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ebebeb;
    border: none;
    border-radius: 50px;
}
.m-testimonial .carousel-indicators li.active {
    width: 40px;
    background: #f1c40f;
}
.client_name {
    float: left;
    width: 100%;
    color: #a0cc0e;
    font-size: 14px;
    font-weight: 400;
}
.client-say h5 {
    margin: 10px 0 -5px;
}
.black-color {
    color: #000;
}
.map-m p {
    margin-bottom: 10px;
}
/*== brands ==*/

.brand-list {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 150px;
}
.brand-list li {
    float: left;
    width: 14.6%;
    text-align: center;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 1%;
}
.brand-list li img {
    max-width: 90%;
}
.service {
    float: left;
    width: 96%;
    background: #fff;
    margin: 30px 2% 0;
    border: dashed #ebebeb 1px;
    min-height: 595px;
    box-shadow: 0 0 50px -35px #000;
}
.services {
    float: left;
    width: 100%;
    min-height: 300px;
    border: dashed #ebebeb 1px;
    margin: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all 0.5s;
}
.services:hover,
.services:focus {
    background: #0054a6;
    transform: scale(1.1);
    z-index: 1;
    position: relative;
    top: 16px;
    border: none;
    box-shadow: 0 10px 40px -25px #000;
}
.services:hover h3,
.services:focus h3 {
    color: #fff;
}
.news-blog div.full.post {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 15px;
}
.news-blog a.darkblue_button_color {
    margin-top: 10px;
    float: left;
    width: 100%;
}
.service-center .icons {
    min-height: 96px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*== home_page three theme_yellow ==*/

.full-contant-center {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.center_text p.slider-text-small {
    text-align: center;
    justify-content: center;
}
.yellow_default p.slider-text-small {
    color: #34495e;
}
.yellow_default h2.slider-text {
    color: #34495e;
    position: relative;
}
.pointer-heading h2::after {
    content: "";
    background: #34495e;
    width: 70px;
    height: 4px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 35px;
}
.pointer-heading h2 {
    margin-bottom: 60px;
}
.tab_bar {
    float: left;
    width: 100%;
}
.tab_bar #tabs {
    float: left;
    width: 100%;
    border: none;
}
.tab_bar #tabs li {
    padding: 0;
    float: left;
    width: auto;
    background: #f8f8f8;
    border-radius: 0;
    margin-right: 1px;
}
.tab_bar #tabs li a {
    border-radius: 0;
    border: none;
    color: #34495e;
    font-size: 18px;
    min-width: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 40px;
    min-height: 50px;
}
.tab_bar #tabs li a:hover,
.tab_bar #tabs li a:focus,
.tab_bar #tabs li.active a {
    background: #f1c40f;
}
.news-blog div.full.post p {
    margin-bottom: 10px;
}
.tab-content h4 {
    font-weight: 400;
    line-height: 24px;
}
.tab-content {
    float: left;
    width: 100%;
    padding: 40px 0;
}
section.dark-section div.light-black {
    min-height: auto;
    padding: 40px 50px;
    float: left;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
section.dark-section h4 {
    color: #fff;
}
.dark-section .main-heading,
.light-box .main-heading {
    margin-bottom: 55px;
}
.white_layer_bottom {
    background-image: url('../images/layer-botton-dark.png');
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
}
.brands .main-heading {
    margin: 0 0 -5px 0;
}
.full.post h4 {
    margin-bottom: 5px;
    padding-top: 0;
    text-align: left;
    margin-top: 0;
}
.pointer-heading.left_head h2::after {
    background: #fff;
    margin: 0;
}
.theme_light_pink p.slider-text-small {
    font-size: 30px;
    color: #fff;
}
.offer_layout2 .main-heading {
    margin-bottom: 20px;
}
.field {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.field label {
    float: left;
    width: 36%;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    min-height: 40px;
    line-height: 40px;
}
.custom_field {
    float: right;
    width: 64%;
    background: #f8f8f8;
    border: solid #e1e1e1 1px;
    min-height: 40px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    padding: 5px 15px;
}
.ul-list ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ul-list ul li {
    float: left;
    width: 100%;
    position: relative;
    padding-left: 38px;
    margin-bottom: 30px;
}
.ul-list ul li i.fa-check-circle-o {
    color: #8dc63f;
    font-size: 28px;
}
.ul-list ul li h4 {
    margin-bottom: 10px;
    font-weight: 500;
}
.ul-list ul li span {
    position: absolute;
    left: 0;
}
.feature-heading h3 {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.theme_light_pink section.dark-section {
    background: #dd5b82;
}
.theme_light_pink section.dark-section.parallax .main-heading::after {
    background: #fff;
}
.parallax .main-heading.center_text {
    margin-bottom: 30px;
}
.parallax h4 {
    margin: 0;
    text-align: center;
    line-height: 29px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}
/*== change image on hover ==*/

.fader {
    display: inline-block;
}
.fader img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.short-brand {
    float: left;
    width: 100%;
}
.short-brand ul li.fader {
    position: relative;
    padding: 0;
    float: left;
    width: 33.33%;
    border: solid #e1e1e1 1px;
    margin: 0 0 -1px -1px;
}
.short-brand ul li.fader img {
    width: 100%;
}
.feature-heading {
    float: left;
    margin-bottom: 15px;
}
.client-say p {
    line-height: 20px;
}
.layout_2_padding.dark-section.parallax .main-heading.center_text::after {
    background: #fff;
}
.theme_dark_pink .client_name {
    color: #cf455c;
}
.theme_dark_pink .m-testimonial.light-silver {
    float: left;
    width: 100%;
    margin-top: 15px;
    background-image: url('../images/testimonial.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}
.banner_layout {
    float: left;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 900px;
    align-items: center;
}
.banner_layout h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.center {
    float: left;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.center_shadow {
    box-shadow: 0 0 70px 0 #000;
    position: relative;
    z-index: 1;
}
.about_us-section.with_pattern {
    min-height: 250px;
}
.with_pattern {
    padding: 80px 0;
}
.with_pattern h2 {
    margin-bottom: 40px;
}
.light-silver .full.m-testimonial {
    background: #fff;
    box-shadow: 0 0 35px -24px #000;
}
#home_page3 section#main-banner {
    background-image: url('../images/yellow_bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#home_page3 section#main-banner {
    min-height: 900px;
}
#home_page4 section#main-banner {
    min-height: 900px;
    padding-top: 100px;
    background-image: url('../images/light_pink_bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
/*------------------------------------------------------------------
    7. INNER_PAGE BANNER
-------------------------------------------------------------------*/

.inner_page_banner {
    background-color: #2b3741;
    min-height: 340px;
    background-image: url(../images/inner-page_banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.inner_page_banner_style_2 {
    background-color: #2b3741;
    min-height: 180px;
    background-image: url(../images/inner-page_banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.inner_page_inform {
    float: left;
    width: 100%;
    margin: 222px 0 0 0;
    padding: 0;
    position: relative;
}
.inner_page_banner_style_2 div.inner_page_inform {
    margin: 63px 0 0;
    position: relative;
}
.inner_page_inform h2 {
    color: #fff;
    font-weight: 700;
}
.inner_page_inform ul {
    list-style: none;
    float: left;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    font-weight: 500;
}
.inner_page_inform ul li,
.inner_page_inform ul li a {
    float: left;
    font-size: 14px;
    color: #fff;
    margin: 0 5px 0 0;
}
.inner_page_inform ul li.currant_page {
    color: #f1c40f;
}
.get_a_quote a {
    margin: 0;
}
.feature-image {
    margin-top: 15px;
}
.icon_center {
    text-align: center;
    margin-top: 15px;
}
.right_img_top {
    margin-top: -60px;
}
.full.post .span7 {
    padding: 0;
}
.map-img {
    margin-bottom: 20px;
}
.services h3 {
    font-weight: 600;
}
.member_img {
    margin-bottom: 30px;
}
.theme_light_pink section.parallax {
    background-position: bottom center;
    min-height: 390px;
    background-position: center bottom;
}
#home_page5 .banner-text {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
.thirt-part_section {
    margin-top: 0;
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
}
.feature-image .icons {
    margin-bottom: 15px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simple_service {
    margin-bottom: 30px;
}
.map-location {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    position: relative;
}
.map-text {
    background: url('../images/map-text_img.png');
    width: 210px;
    height: 145px;
    margin: 0;
    padding: 0;
    float: left;
    position: absolute;
    left: 465px;
    top: 82px;
    padding: 15px 0 0 21px;
}
.map-text p {
    color: #737373 !important;
    text-align: left !important;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    padding-right: 20px;
}
.map-text h5 {
    float: left;
    text-align: left;
    width: 100%;
    color: #cf455c;
    font-size: 18px;
    font-weight: 600;
}
#home_page6 #main-banner {
    background-image: url('../images/map_last_home_page.png');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 900px;
}
#home_page6 section#main-banner .verticle-center {
    min-height: 900px;
    padding-top: 0;
}
#home_page6 .fa.fa-calendar {
    color: #f08a5d;
}
#home_page6 .banner-img.verticle-center {
    align-items: flex-end;
}
.about_page_style_1 .list_style_2 {
    margin: 30px 0 0;
}
.list_style_2 {
    font-size: 14px;
    width: 100%;
    list-style: none;
}
.list_style_2 i {
    font-size: 18px;
    margin-right: 5px;
}
.layout_2_padding_eqaul {
    padding: 120px 150px;
}
.padding-left {
    padding-right: 65px;
}
.padding-right {
    padding-left: 65px;
}
.right_about_style_1 {
    width: 50%;
    position: absolute;
    right: 0;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
}
.left_about_style_1 {
    width: 50%;
    position: absolute;
    left: 0;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
}
.full_about {
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
}
.arr_left::after {
    content: "";
    width: 56px;
    height: 56px;
    background: black;
    display: block;
    position: absolute;
    top: 48%;
    transform: rotate(45deg);
    left: -28px;
}
.arr_right::after {
    content: "";
    width: 56px;
    height: 56px;
    background: black;
    display: block;
    position: absolute;
    top: 48%;
    transform: rotate(45deg);
    right: -28px;
}
.pair_about {
    float: left;
    width: 100%;
    position: relative;
    min-height: 600px;
}
#about_page p {
    line-height: 24px;
}
.icon {
    margin-bottom: 20px;
}
.br_single_blog {
    float: left;
    width: 100%;
    margin: 40px 0;
}
.yellow_banner {
    float: left;
    width: 100%;
    margin: 0;
    background: #f1c40f;
    min-height: 320px;
    border-radius: 5px;
    padding: 40px 15px;
    text-align: center;
    box-shadow: 5px 5px 24px -20px #000;
}
.yellow_banner h4 {
    color: #34495e;
    font-weight: 600;
    margin-top: 30px;
    float: left;
    width: 100%;
}
.yellow_banner p {
    color: #34495e;
}
.yellow_banner .btn.button_custom {
    background: #34495e;
    color: #f1c40f;
    margin-top: 20px;
}
.side_bar h4 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.padding-bottom {
    padding-bottom: 80px;
}
.team_section h4 {
    margin: 0;
    font-weight: 600;
}
.team_section .col-md-10 {
    margin-top: 20px;
}
.team_section {
    margin-top: 10px;
    float: left;
    width: 100%;
}
.team_section > div.row {
    margin-bottom: 30px;
}
/*------------------------------------------------------------------
    8. SIDEBAR
-------------------------------------------------------------------*/

.side_bar_menu {
    float: left;
    width: 100%;
    list-style: none;
}
.side_bar_menu li {
    float: left;
    width: 100%;
    border-bottom: dotted 1px #e6e6e6;
    min-height: 50px;
    line-height: 50px;
    transition: ease all 1s;
}
.side_bar .blog {
    float: left;
    width: 100%;
    margin-bottom: 90px;
}
.side_bar_menu li a {
    color: #898989;
}
.side_bar_menu li.active a,
.side_bar_menu li.active i,
.side_bar_menu li:hover a,
.side_bar_menu li:hover i,
.side_bar_menu li:focus a,
.side_bar_menu li:focus i {
    color: #f1c40f;
}
.side_bar_menu li i {
    float: right;
    line-height: 50px;
    color: #898989;
}
.side_bar .blog p {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.black_big {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.margin-bottom-small {
    margin-bottom: 40px;
}
.post_calender .calender i {
    background: #fff;
    width: 68px;
    height: 68px;
    float: right;
    border-radius: 100%;
    border: solid #e1e1e1 1px;
    text-align: center;
    line-height: 65px;
    font-size: 21px;
    transition: ease all 1s;
}
.post_calender .calender i:hover,
.post_calender .calender i:focus {
    background: #f1c40f;
    color: #fff;
    border-color: #f1c40f;
}
.main_blog_post {
    position: relative;
}
.blog_news_main {
    position: absolute;
    margin: 30px;
    background: rgba(0, 0, 0, 0.3);
    min-height: 100px;
    padding: 40px 25px;
    bottom: 0;
}
.blog_news_main .post_head {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}
.blog_news_main .post_head .yellow {
    color: #f1c40f;
    font-weight: 500;
}
.post_cont {
    font-size: 13px;
    color: #e1e1e1;
    margin-top: 5px;
}
.blog_news_main i {
    font-size: 28px;
    color: #f1c40f;
    margin-top: 20px;
}
.table_style_1 thead {
    background: url('../images/white-patter.jpg');
}
.table_style_1 table.table thead th {
    border: none;
    padding: 9px 15px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: normal;
}
.date_big {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 24px;
    color: #000;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -10px;
}
.date_big {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 24px;
    color: #000;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -10px;
}
.events_table td {
    color: #000;
    font-size: 14px;
    vertical-align: middle;
}
.table_style_1 table.table td {
    color: #000;
    font-size: 14px;
    vertical-align: middle;
    border: none;
    padding: 24px 15px;
}
.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #f8f8f8;
}
.month_small {
    float: left;
    width: 100%;
    color: #f1c40f;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}
/*== end table style ==*/

div.m-testimonial .client-say p {
    line-height: 18px !important;
}
.icon_layout_1 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.icon_layout_1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
.icon_layout_1 ul li {
    float: left;
    width: 33.33%;
    border: solid #e1e1e1 1px;
    text-align: center;
    min-height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 -1px -1px;
}
/*== accordian css ==*/

.accordian_style_1 #accordion .panel {
    border: 0px none;
    box-shadow: none;
}
.accordian_style_1 #accordion .panel-heading {
    padding: 0;
    background: #fff;
}
.accordian_style_1 #accordion .panel-title a {
    display: block;
    position: relative;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 14px 20px;
    border-bottom: none;
    border-radius: 0;
    transition: all 0.10s linear 0s;
    background: url('../images/white-patter.jpg');
    font-weight: 500;
}
.accordian_style_1 #accordion .panel-title a.collapsed {
    color: #000;
}
.accordian_style_1 #accordion .panel-title a i {
    color: #de4d4e;
    position: absolute;
    top: 14px;
    left: 25px;
}
.accordian_style_1 #accordion .panel-title a.collapsed:before {
    content: "";
    border: 0px none;
}
.accordian_style_1 #accordion .panel-title a.collapsed:hover {
    color: #000;
}
.accordian_style_1 #accordion .panel-title a::after,
.accordian_style_1 #accordion .panel-title a.collapsed::after {
    content: "\f106";
    font-family: FontAwesome;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: #ebebeb;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 800;
    background: #f1c40f;
}
.accordian_style_1 #accordion .panel-title a.collapsed::after {
    content: "\f107";
    color: #898989;
    background: #ebebeb;
}
.accordian_style_1 #accordion .panel-body {
    border-top: 0 none;
    color: #808080;
    padding: 15px 30px 30px;
}
.accordian_style_1 #accordion .panel-title a span {
    margin-right: 80px;
}
.accordian.accordian_style_1 .black_big {
    margin-bottom: 15px;
}
.form_full label {
    width: 100%;
}
.form_full input,
.form_full select {
    width: 100%;
    height: 50px;
}
.form_full textarea {
    min-height: 100px;
    width: 100%;
}
.white_filed input,
.white_filed select,
.white_filed textarea {
    background: #fff;
}
.driver_form select {
    background-image: url('../images/arrow_top_bottm.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}
.full_width_30 {
    padding: 30px;
    float: left;
    width: 100%;
    margin: 0;
}
.list_style_3 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.list_style_3 li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0 0 0 40px;
    margin: 10px 0;
    line-height: normal;
}
.list_style_3 li i {
    width: 40px;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 18px;
}
.supply_chain {
    margin: 20px 0;
}
.btn_dark.dark_bt_button_custom {
    background: #34495e;
    color: #f1c40f;
    width: 230px;
    float: left;
    text-align: center;
    height: 50px;
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
    border: solid #34495e 2px;
    border-radius: 50px;
}
.btn_dark.dark_bt_button_custom:hover,
.btn_dark.dark_bt_button_custom:focus {
    background: transparent;
    border: solid #34495e 2px;
    color: #34495e;
}
.with_pattern div.get_a_quote {
    margin: 50px 0 0;
}
.table_style_2 table {
    background: #ebebeb;
    min-height: 38px;
}
.table_style_2 table tr th {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
}
.table_style_2 table tr td {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
}
.table_style_2 table tr td strong {
    font-weight: 600;
}
.table_style_2 .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f8f8f8;
}
.table_style_2 .table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #fff;
}
/*== search bar side bar ==*/

.search_site_bar {
    float: left;
    width: 100%;
    min-height: 50px;
    border: solid #e1e1e1 1px;
    margin-bottom: 75px;
}
.stylish-input-group .input-group-addon {
    background: white !important;
}
.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
.search_site_bar #imaginary_container input.form-control {
    padding: 0;
    border: none;
    border-radius: 0;
    color: #737373;
    font-size: 14px;
    font-style: italic;
}
.search_site_bar #imaginary_container .input-group-addon {
    padding: 0;
    border: none;
}
.search_site_bar #imaginary_container {
    padding: 7px 15px;
}
.search_site_bar button {
    font-size: 18px;
}
.side_bar_menu.post_side_menu li i {
    float: left;
    color: #f1c40f;
    font-weight: 500;
    font-size: 18px;
    width: 28px;
}
.side_bar_menu.post_side_menu li a {
    font-size: 13px;
    position: relative;
    top: 2px;
}
.br_single_blog_2 {
    float: left;
    width: 100%;
    margin: 15px 0;
}
.br_single_blog_2 hr {
    border-top: 2px dotted #d3d3d3;
    margin-top: 25px;
    margin-bottom: 25px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 4px 10px;
    margin-left: -1px;
    line-height: 33px;
    color: #737373;
    text-decoration: none;
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
    height: 40px;
    width: 40px;
    font-weight: 600;
    text-align: center;
}
.pagination > li > a > i {
    color: #737373;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f1c40f;
    border-color: #f1c40f;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #222;
    background-color: #eee;
    border-color: #ddd;
}
.news_blog {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 5px 4px 35px -32px #000;
    margin-bottom: 30px;
}
.top_blog {
    float: left;
    width: 100%;
    padding: 13px 20px;
    position: relative;
}
.top_blog .date {
    float: left;
    margin: 0;
}
.dark_bt {
    float: right;
    background: #34495e;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 40px;
    padding: 0 22px;
    line-height: 40px;
}
.dark_bt a {
    color: #f1c40f;
    font-size: 12px;
    font-weight: 500;
}
.top_blog p {
    float: left;
    width: 100%;
}
.top_blog p.black_big {
    margin-top: 12px;
}
.bottm_blog {
    float: left;
    width: 100%;
    padding: 13px 20px;
}
.bottm_blog .msg {
    float: left;
}
.bottm_blog .msg span {
    color: #000;
    margin-left: 8px;
    float: right;
    font-weight: 500;
}
.yellow_post_blog {
    background: #f1c40f;
    color: #fff;
}
.yellow_post_blog p,
.yellow_post_blog span,
.yellow_post_blog i,
.yellow_post_blog div.bottm_blog a,
.yellow_post_blog h6.black_big {
    color: #fff !important;
}
.top_blog + .bottm_blog {
    padding-top: 0;
}
.img_post {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.new_blog div.post_date {
    padding: 8px 0;
    float: left;
    width: 100%;
}
.italic_contant {
    border-left: solid #f1c40f 3px;
    padding-left: 17px;
    left: 17px;
    position: relative;
    font-style: italic;
}
.user_comt .span1 {
    padding: 0;
}
.name_user {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin: 0;
}
.date_time_information {
    font-size: 14px;
    color: #f1c40f;
    font-weight: 500;
}
.comment p.msg {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.comment p.msg i {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
}
.user_comt {
    float: left;
    width: 100%;
}
.user_comt.inner_commant {
    float: right;
    width: 88%;
}
.border-radius_0 {
    border-radius: 0 !important;
}
.form_full .btn.button_custom {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
form#commant_form div.field textarea.custom_field {
    margin-bottom: 10px;
}
.vehicle_box {
    min-height: 380px;
}
.vehicle_inner {
    min-height: 380px;
}
.vehicle_inner p {
    color: #fff;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.media_style_2 .vehicle_inner p {
    color: #000;
}
.media_style_2 .inner_box {
    float: left;
    width: 100%;
}
.icon.light-silver img {
    width: 135px;
}
.media_style_2 .icon.light-silver {
    border: solid #e1e1e1 1px;
    padding: 55px 0;
    width: 100%;
    height: 270px;
}
.media_style_2 .vehicle_inner {
    min-height: auto;
    margin-bottom: 38px;
}
#locations_map_section {
    background: #c8d7d4;
    height: 100vh;
}
.heading_information {
    color: #000;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: left;
    width: 100%;
    border-bottom: dotted #e2e2e2 2px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.map_information {
    float: left;
    width: 100%;
    margin: 5px 0 0;
}
.map_information ul {
    float: left;
    width: 100%;
    list-style: none;
}
.map_information ul li {
    font-size: 14px;
    margin: 2px 0;
}
.map_information ul li i {
    font-size: 16px;
}
.contact_form_main {
    margin-top: 10px;
}
.contact_form_main label {
    color: #898989;
}
#map {
    height: 100%;
    min-height: 480px;
}
.contact_form_map {
    float: left;
    width: 100%;
    margin-top: 45px;
}
.chain-management img {
    max-width: 400px;
}
.news_blog img {
    width: 100%;
    height: auto;
}
h6.black_big {
    float: left;
    line-height: 21px;
    margin: 12px 0 10px;
}
/*------------------------------------------------------------------
    9. FOOTER
-------------------------------------------------------------------*/

#home_page1 footer {
    padding: 80px 0 120px;
}
footer {
    min-height: auto;
    background: #34495e;
    padding: 120px 0 80px;
}
footer a:hover,
footer a:focus {
    color: #fff;
}
footer p {
    color: #ddd;
    line-height: 18px;
}
.footer-bottom {
    background: #2a3a4b;
    min-height: 60px;
    padding: 19px 0 0;
}
footer h2 {
    color: #fff;
    font-size: 24px;
}
#footer.footer_main div.main-heading {
    margin-bottom: 25px;
}
.footer_mail-section {
    margin-top: 20px;
    float: left;
    width: 100%;
}
.footer_mail-section form {
    float: left;
    width: 100%;
    margin: 0;
}
.footer_mail-section form .field {
    position: relative;
}
.footer_mail-section form .field input {
    background: #495c6e;
    width: 100%;
    border: none;
    min-height: 40px;
    border-radius: 50px;
    padding: 0 21px;
    font-style: italic;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}
.button_custom {
    transition: ease-in-out all 0.5s;
    color: #fff;
    background: #f1c40f;
}
.footer_mail-section form .field button {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    color: #fff;
}
.footer-menu {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-menu li {
    float: left;
    width: 100%;
    font-size: 14px;
    position: relative;
    padding-left: 20px;
    margin: 0;
    font-weight: 400;
    transition: ease all 0.5s;
    line-height: 30px;
}
.footer-menu li:hover,
.footer-menu li:focus {
    margin-left: 10px;
}
.footer-menu li a {
    color: #ddd;
    font-weight: 400;
}
.footer-menu li a i {
    position: absolute;
    left: 0;
    font-size: 15px;
    top: 3px;
}
footer p a {
    color: #ddd;
}
.social_icons {
    float: left;
    margin: 20px 0 0 0;
    list-style: none;
    width: 100%;
}
.social_icons li {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
}
.social_icons li a {
    float: left;
    width: 100%;
    text-align: center;
    line-height: 43px;
    transition: ease all 0.5s;
}
.social_icons li.fb a {
    background: #39579a;
}
.social_icons li.tw a {
    background: #30a8e2;
}
.social_icons li.gp a {
    background: #de4d3b;
}
.social_icons li a i {
    color: #fff;
    font-size: 18px;
}
.left_text {
    text-align: left;
}
.right_text {
    text-align: right;
}
.footer-bottom p {
    color: #d7d7d7;
}
.side_bar div.blog:last-child {
    margin-bottom: 0;
}